version: "3"

services:
  backend_dev:
    container_name: backend_dev
    image: task-management-dev:1.0.0
    build:
      context: .
      target: development
      dockerfile: ./Dockerfile
    command: npm run start:dev
    ports:
      - ${SERVER_PORT}:${SERVER_PORT}
  db:
    container_name: db
    image: postgres
    restart: always
    ports:
      - ${DATABASE_PORT}:${DATABASE_PORT}
    environment:
      POSTGRES_PASSWORD: ${DATABASE_PASSWORD}
      POSTGRES_DB: ${DATABASE_NAME}